# Ignore dataset files and generated data
ATMEGA-AES-ASCAD_databases/

data-prep/.venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints/

*.o
*.obj
*.out
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

data-prep/modulate_data
data-prep/benchmark_conversion

.vscode/
*.swp
*~
.DS_Store
