# Ignore dataset files and generated data
ATMEGA-AES-ASCAD_databases/

data-prep/.venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints/

*.o
*.obj
*.out
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

data-prep/modulate_data
data-prep/benchmark_conversion
snn/test.c
.vscode/
*.swp
*~
.DS_Store
snn_engine
snn_tests

snn/key_recovery.png
snn/trace_rank.png

snn/network-csvs/seed_1_neurons.csv
snn/network-csvs/seed_1_synapses.csv
snn/network-csvs/seed_2_neurons.csv
snn/network-csvs/seed_2_synapses.csv
snn/network-csvs/seed_3_neurons.csv
snn/network-csvs/seed_3_synapses.csv